body{
    font-family: Tajawal, system-ui, -apple-system, sans-serif;
}
*{
   box-sizing: border-box;
}
a{
    text-decoration: none !important;
   
}
ul{
    list-style: none;
}
@media (min-width: 1400px) {
    .container, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container-xl, 
    .container-xxl {
        max-width: 1250px !important;
    }
}