.hero-container {
  position: relative;
  height: 70vh;
  min-height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
}

.relo {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 5px 15px;
  background-color: rgba(92, 68, 54, 0.565);
  z-index: 100;
  border: 0.5px solid rgba(92, 68, 54, 0.42);
}
.relo .active {
  color: chocolate;
}
.relo a {
  color: white;
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.relo a:hover {
  color: rgba(255, 255, 255, 0.54);
}
.relo1 {
  position: absolute;
  top: 120px;
  right: 100px;
  z-index: 100;
  max-width: 1000px;
}

.relo1 a {
  color: white;
}

.hwi {
  color: white;
  font-size: 4rem;
  line-height: 1.25;
  max-width: 1000px;
}
.imav {
  width: 60px;
  height: 60px;
  border: 2px solid chocolate;
}
.bg {
  padding: 12px 15px;
  background-color: rgb(35 39 44);
  border: 1px solid rgb(58 61 68);
}

.sticky-sidebar-container {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar {
  background-color: #111;
  color: #fff;
  padding: 25px;
  border: 1px solid #222;
}

.sidebar1,
.sidebar2 {
  background-color: #111;
  color: #fff;
  padding: 20px 25px;
  border: 1px solid #222;
}
.sidebar3 {
  background-color: #ff8c0022;
  color: #fff;
  padding: 20px 25px;
  border: 1px solid #be680036;
}

.sidebar li {
  padding: 13px 7px;
  cursor: pointer;
  display: flex;
  margin-bottom: 5px;
  gap: 10px;
  border-radius: 10px;
  color: rgb(124, 124, 124);
  transition: all 0.15s ease;
}
.badge {
  color: rgb(109, 109, 109) !important;
  background-color: #222;
  transition: all 0.15s ease;
}

.sidebar li:hover {
  color: #be6800;
  background-color: #4b290043;
}
.sidebar li:hover .badge {
  color: #be6800 !important;
  background-color: #6c3b0043;
}

.sidebar-card {
  background-color: rgb(10, 10, 10);
  border-radius: 8px;
  color: #fff;
}

.highlight {
  padding: 20px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.805);
  background-color: rgba(202, 84, 0, 0.164);
  border: 0.5px solid rgba(255, 106, 0, 0.33);
  font-weight: 500;
  border-radius: 20px;
}

.high h3 {
  color: white !important;
}

.high p {
  color: rgb(155, 155, 155) !important;
  font-size: 1.1rem;
}

h4 i {
  color: #ff8c00;
  margin-right: 8px;
}
.lis {
  width: 40px;
  height: 40px;
  background-color: rgba(202, 84, 0, 0.164);
  border: 0.5px solid rgba(255, 106, 0, 0.518);
}
.liscam {
  width: 50px;
  height: 50px;
  background-color: rgba(202, 84, 0, 0.164);
  border: 0.5px solid rgba(255, 106, 0, 0.518);
}
.lismass {
  width: 50px;
  height: 50px;
  background-color: rgba(202, 84, 0, 0.324);
}
.lis1 {
  width: 45px;
  height: 45px;
  background-color: rgb(26 26 26);
  border: 0.5px solid rgb(80, 80, 80);
  cursor: pointer;
  color: rgb(114, 114, 114);
  transition: all 0.2s ease;
}
.li1:hover {
  color: white;
  border: transparent;
  background-color: #1da1f2;
}
.li2:hover {
  color: white;
  border: transparent;
  background-color: #25d366;
}
.li3:hover {
  color: white;
  border: transparent;
  background-color: #ff8c00;
}

.f3 {
  padding: 7px 10px;
  font-size: medium;
  color: rgb(114, 114, 114);
  background-color: rgba(63, 63, 63, 0.414);
  border: 1px solid rgb(80, 80, 80);
  cursor: pointer;
}
.f3:hover {
  color: #ff8c00;
  border-color: #ff8c00b1;
}

.lisim {
  width: 100px;
  height: 100px;
  border: 4px solid #be6800bd;
}
.btnor {
  padding: 10px 20px;
  background-color: rgb(255 105 0);
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btnor:hover {
  background-color: rgb(211, 88, 0);
}
@media (max-width: 768px) {
  .relo1 {
    position: absolute;
    top: 120px;
    right: 20px;
    z-index: 100;
    max-width: 1000px;
  }
  .hwi {
    font-size: 2rem;
    max-width: 280px;
  }
}
@media (max-width: 1024px) {
  .relo1 {
    position: absolute;
    top: 120px;
    right: 20px;
    z-index: 100;
    max-width: 1000px;
  }
  .hwi {
    font-size: 3rem;
    max-width: fit-content;
  }
}
